Here Are Your Completed Notes

<h2> Completed Notes </h2>
  <% @notes.each do |note| %>
    <ul>
      <li>
        <a href= "<%=current_user.id%>/notes/<%=note.id%>">
        <%=note.created_at%> </a>
      </li>
    </ul>
<% end %> 