<h2> Completed Notes </h2>
  <% @notes.each do |note| %>
  	<% if note.completed == true%>
	    <ul>
	      <li>
	        <a href= "notes/<%=note.id%>">
	        From: <%=note.users.last.first_name%>
	        <br>
	        Created: <%=note.created_at.strftime('%B %d, %Y')%> </a>
	      </li>
	    </ul>
		<% end %>
	<% end %> 
