
<p>
So you're ready to send a note to a past date. Here's a quick reminder of the steps. Don't stress. We're here every step of the way. 
</p>


<div class="btn-group">
	<a href="/users/<%= current_user.id %>" class= "btn btn-success btn-lg">Back</a>
</div>

<div class="btn-group">
	<a href="/users/<%= current_user.id %>/contact" class= "btn btn-success btn-lg">OK!</a>
</div>
