

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center">Hello There!</h1>
      <p class="">Someone you went on a date with has answered some questions for you. To see their full answers, set up an account and return the favor by answering the same questions here. It will only take about 3 minutes.</p>
      <%=image_tag("instructions.png", class: "img-responsive center-block", alt: "Example Image")%> 
     <p class="text-center"><a href="./signup"><button type="button" class="btn btn-lg splash">Sign up</button></a></p>
      <p class="text-center"><a href="./login"><button type="button" class="btn btn-lg splash">Login</button></a></p>     
    </div>
  </div>

