You're on Show Note

<p>Question 1</p>
<p>"Where did you meet this person (so we can send them a reminder)?"</p>
<p>Your Answer: <%=@note.aone%></p>
<p>Their Answer: <%=@note.paone%></p>

</p>Question 2</p>
<p>"What did you like the most about this person?"</p>
<p>Your Answer: <%=@note.atwo%></p>
<p>Their Answer: <%=@note.patwo%></p>