<div class="splash text-center">
  <div class="container">
    <div class="row">  
    <h1>BeigeNotes</h1>
      <p>When dating isn't black or white, we're here to help get clarity.</p>
      <p>Have you been on a date and never heard from them again?</p>
      <p>We provide a platform for you to receive feedback and closure after your dates.</p>
      <p>How It Works:</p>
      <ul>
        <li>1. We send you questions about a past date</li>
        <li>2. You answer these questions</li>
        <li>3. We reach out to your date</li>
        <li>4. Your date provides answers to the same questions</li>
        <li>5. After both parties complete questions, we share the answers</li>
        <li>6. Who knows what will happen!</li>
      </ul>  
      <p>If we've piqued your interest, contact us at beigenotes@gmail.com</p>
      <p>Other ways to get involved:</p>  
    </div>    
  </div>        
</div>
