<!-- <div class="container">
<p class="landing text-center"><a href="./signup"><button type="button" class="btn btn-lg splash ">Sign up</button></a></p>
      <p class="landing text-center"><a href="./login"><button type="button" class="btn btn-lg splash ">Login</button></a></p>     
 -->
 <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
 
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%=image_tag("splash_mobile.jpeg", alt: "Example Image")%>
      <div class="carousel-caption">
      <h1 class="text-center header">beige notes</h1>
      <p class="text-center" id="text">
      when dating<br />isn't black<br />or white<br />we'll get clarity</p>
      </div>
    </div>
    <div class="item">
      <%=image_tag("Splash_2.jpeg", alt: "Example Image")%>
      <div class="carousel-caption">
      <h1 class="text-center header">beige notes</h1>
      <p class="text-center" id="text">
      when dating<br />isn't black<br />or white<br />we'll get clarity</p>
      </div>
    </div>
    <div class="item">
      <%=image_tag("Splash_3.jpeg", alt: "Example Image")%>
      <div class="carousel-caption">
      <h1 class="text-center header">beige notes</h1>
      <p class="text-center" id="text">
      when dating<br />isn't black<br />or white<br />we'll get clarity</p>
      </div>
    </div>
    <div class="item">
      <%=image_tag("Splash_4.jpeg", alt: "Example Image")%>
      <div class="carousel-caption">
      <h1 class="text-center header">beige notes</h1>
      <p class="text-center" id="text">
      when dating<br />isn't black<br />or white<br />we'll get clarity</p>
      </div>
    </div>    
  </div>
 
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- Carousel -->
<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default"><a href="./signup">Sign Up</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default"><a href="./login">Login</a></button>
  </div>
</div>
