<div class="splash text-center">
  <div class="container">
    <div class="row">  
      <%=image_tag("notes_together.png", class: "img-responsive center-block", id: "splash", alt: "Example Image")%>
    </div> 
    <div class="row" id="buttons">
      <p><a href="./signup"><button type="button" class="btn btn-lg splash">Sign up</button></a></p>
      <p><a href="./login"><button type="button" class="btn btn-lg splash">Login</button></a></p>      
    </div>   
  </div>        
</div>
