    /*
 * app/assets/stylesheets/application.css
 */

/*
 * ...
 *
 *= require bootstrap-3.3.6.min
 *= require_tree .
 *= require_self
 */

/*.splash {
  background: url(splash.jpeg);
  background-repeat: no-repeat; 
  background-position: 50%;   
  height: 650px;
  margin-top: -20px;
  color: #ffffff;  
 }*/

 h1 {
  display: block;
  font-size: 2em;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

.item {
  height: 675px;

}

.item active {
  height: 675px;

}

.img {
  height: 675px;

}

ol, ul {
  margin-top: 0;
  margin-bottom: 80px;
}

#splash {
  margin-top: -50px;
}

#more {
  font-size: 2em;
}
#learn {
  color: #de635e;
  font-size: 2em;
}

#text {
  font-size: 30px;
}

.header {
  margin-top: -460px;
  font-size: 50px;
}

button.btn.btn-lg.splash {
  background-color: #de635e;
  color: #ffffff;
  width: 80%;
}

.navbar-nav {
  font-size: 1.25em; 
}

.navbar-default .navbar-nav>li>a {
  color: #ffffff;
  font-size: 1.25em;
}

ul {
  list-style: none;
}

body {
  font-family: arial;
  color: #4a4a4A;
  background-color: #b9f0f1 !important;
}

h1.landing {
  font-size: 10em !important;
}

p.landing {
  font-size: 2.5em;
}

.navbar-default {
  background-color: #ffffff;
  color: #4A4A4A;
}

.navbar-default .navbar-brand {
  font-family: Arial;
  color: #4A4A4A;
  margin-left: 90px;
  font-size: 2em; 
}

.pull-left {
  margin-left: 20px;
}

.navbar-default .navbar-brand {
  margin-left: 18px;
}

.button.navbar-toggle.collapsed {
  color: #4A4A4A;
}

a {
  color: #4A4A4A;
}



#flying {
  width: 70%;
  height: 70%;
}

#note {
  width: 40%;
  height: 40%;
}


.submit{
  background-color:#DE635E;
}

.submit:hover {
  background: #c75954;
}

.next{
  background-color:#FDB25D; 
}

.next:hover{
  background: #F2A855;
}

.lblue{
  background-color: #87d4d5;
  /*light blue*/
}

.panel-default>.panel-heading {
  background-color: #4dbfc0!important;
  color: #ffffff; 
  /*It's blue now*/
}

#blue{
  background-color: #35586C; 
}

#dark {
  background-color: #283A90!important;
}

#question {
  color: #ffffff;
}

textarea {
    width: 300px;
    height: 150px;
    resize:none;
}

@media (max-width: 400px) {
  h1.landing {
  font-size: 2.5em!important;
  }

  .landing_image {

  }

  p.landing {
    margin-top: 100px;
    font-size: 1.5em!important;
  }
  
  .learn_more {
  margin-top: -500px;
  font-size: 1.5em!important;
  } 

  #envelope {
    width: 55%;
    height: 55%;
  }
}
